@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 346 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346 100% 58%;
    --radius: 0.5rem;
    --header-height: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-y: auto;
  }
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-500;
}

.animated-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;   
    scrollbar-width: none;  
}
}

.print-button-glow {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px hsl(var(--primary)), 0 0 10px hsl(var(--primary)), 0 0 15px hsl(var(--primary));
  }
  to {
    box-shadow: 0 0 10px hsl(var(--primary)), 0 0 20px hsl(var(--primary)), 0 0 30px hsl(var(--primary));
  }
}
/* 
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    background: none !important;
    color: black !important;
  }

  #resume {
    display: block !important;
    padding: 20mm !important;
  }

  .animated-bg {
    background: none !important;
    animation: none !important;
  }
} */

/* Side panel styles */
.side-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.side-panel-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) hsl(var(--secondary));
}

.side-panel-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.side-panel-scrollbar::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
}

.side-panel-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 4px;
  border: 2px solid hsl(var(--secondary));
}

/* Overscrolling styles */
.overscroll-contain {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
/* 
@media (max-width: 767px) {
  body {
    padding-top: var(--header-height);
  }
} */